:root {
  --primary-color: #367359;  

  --background-color: #FCFCFC;  
  --text-color: #363636;  

}

#app {
  background-color: var(--background-color);
  position: relative;
  color: var(--text-color);
}
.navbar {
  background-color: var(--primary-color);
  min-height: 5rem;
}
.main-bg {
  opacity: 0.045;
}

.logout-icon:hover {
  filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(1468%) hue-rotate(189deg) brightness(110%) contrast(73%);
}

.drawer-container {
  height: 4rem;
}
.drawer-container hr {
  background-color: var(--background-color);
  width: 2px;
}



* {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}



