.card {
    color: #363636;
}

.taken {
    background-color: #4A8169;
    border: solid 1px #06513A;
    color: white;
}


.hoverable:hover {
    background-color: #FAFAFA;
}

.icon-r {
    border-left: 2px solid #D6E8ED;
}

.icon-l {
    border-right: 2px solid #D6E8ED;

}

button {
    background-color: #4A8169;
}

.table-container {
    /* max-height: 440px; */
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}



.table {
    border: 1px solid #D6E8ED;
    color: #363636;
    overflow: hidden;
    border-bottom: 1px solid #D6E8ED;

}

.table .rdt_TableRow:nth-child(odd) {
    background-color: #FBFBFB;
  }

.table .rdt_TableHead {
    border-bottom: transparent;
    font-size: 1rem;
    color: #363636;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
    border-top: 1px solid #D6E8ED;
}

.table .rdt_TableRow {
    border-top: 1px solid #D6E8ED;
    font-size: 16px;
    text-overflow: ellipsis;
    color: #363636;
    
}



#filter-tags-container {
    max-height: 90px !important;
}


.books-table [data-column-id="1"] { flex-grow: unset; min-width: 5% !important }
.books-table [data-column-id="2"] { flex-grow: unset; min-width: 22.5% !important }
.books-table [data-column-id="3"] { flex-grow: unset; min-width: 22.5% !important }
.books-table [data-column-id="4"] { flex-grow: unset; min-width: 22.5% !important }
.books-table [data-column-id="5"] { flex-grow: unset; min-width: 22.5% !important }
.books-table [data-column-id="6"] { flex-grow: unset; min-width: 5% !important }
.books-table [data-sort-id="1"] { width: 100% }
.books-table [data-sort-id="2"] { width: 100% }
.books-table [data-sort-id="3"] { width: 100% }
.books-table [data-sort-id="4"] { width: 100% }
.books-table [data-sort-id="5"] { width: 100% }
.books-table [data-sort-id="6"] { width: 100% }