.card {
    color: #363636;
}

.taken {
    background-color: #4A8169;
    border: solid 1px #06513A;
    color: white;
}

.search-bar {
    border: 1px solid #D6E8ED;
    overflow: hidden;
}

.search-bar input {
    outline: none;
}

.hoverable:hover {
    background-color: #FAFAFA;
}

.icon-r {
    border-left: 2px solid #D6E8ED;
}

.icon-l {
    border-right: 2px solid #D6E8ED;

}

button {
    background-color: #4A8169;
}

.table-container {
    max-height: 440px;
    overflow: scroll;
    overflow-x: hidden;
}



.table {
    border: 1px solid #D6E8ED;
    color: #363636;
    overflow: hidden;
    border-bottom: 1px solid #D6E8ED;

}

.table .rdt_TableRow:nth-child(odd) {
    background-color: #FBFBFB;
  }

.table .rdt_TableHead {
    border-bottom: transparent;
    font-size: 1rem;
    color: #363636;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
    border-top: 1px solid #D6E8ED;
}

.table .rdt_TableRow {
    border-top: 1px solid #D6E8ED;
    font-size: 16px;
    text-overflow: ellipsis;
    color: #363636;
    
}



.search-bar-container h1 {
    color: #363636;
}
