@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #367359;  
    --primary-error: #bc544b;  
  
    --background-color: #FCFCFC;  
    --text-color: #363636;  
    
  
  }

html {
    direction: rtl;
}
html,body,#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

